/* MISMO CSS QUE MODIFY POPUP */

.add-popup {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

  
.add-popup-inner {
    overflow: auto;
    height: 47%;
    width: 80%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}