
<header>
    <img id="app-logo" src="/images/logo-mifoodie.png" alt=""></img>
    <a id="app-title" href="http://localhost:3001/">MiFoodie</Link>
    <nav class="navbar">        
      <ul class="navbar-nav">
        <li class="navbar-button">
          <a class="nav-link" href="http://localhost:3001/contacto.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>