.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  font-family: Arial, sans-serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.message {
  padding: 2em;
  
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #fd6c01;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.contact-form-btn[type='submit'] {
  padding: 0.5rem 1rem;
  background-color: #fd6c01;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-form-btn[type='submit']:hover {
  background-color: #e26003;
}