.info-restaurante-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 2rem;
  width: 70%;
  background-color: #ffff;
  border-radius: 2%;
}

.info-restaurante-label {
  margin: 15px;
}

.info-restaurante-container h3 {
  font-size: 1.5rem;
}

.info-restaurante-container p {
  font-size: 1.2rem;
}

.map-container {
  width: 100%;
  max-width: 600px;
}

.rating-stars {
  font-size: 1.5rem;
  position: relative;
  top: 3px;
  color: #f5a623;
}

#rating {
  font-size: 1rem;
  color: #f5a623;
}

.sitio-info {
  background-color: #f9f9f9;
  border-radius: 2%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 5px;
}

.sitio-info p {
  font-size: 1em;
  color: #666;
}

.sitio-enlaces-externos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
}

.enlaces-button {
  margin-bottom: 1em;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #009688;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enlaces-button:hover {
  background-color: #00796b;
}

.sitio-enlaces-externos a {
  color: #0066cc;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.sitio-enlaces-externos a:hover {
  text-decoration: underline;
}

.sitio-imagenes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.imagenes-button {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #fd6c01;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.imagenes-button:hover {
  background-color: #cd5500;
}

.imagenes-display {
  max-width: 60%;
  height: auto;
  border-radius: 4px;
}
