.info-restaurante-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 2rem;
    background-color: #ffff;
    border-radius: 2%;
  }
  
  .info-restaurante-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .info-restaurante-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .map-container {
    width: 100%;
    max-width: 600px;
  }