.restaurant-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.restaurant-item {
  background-color: white;
  border: 1px solid #fd6c01;
  border-radius: 3px;
  margin: 15px;
  padding:  10px 20px;
  width: 300px;
  position: relative;
  padding-bottom: 15px;
}

.restaurant-name {
  color: black;
  margin: 0px;
  margin-bottom: 8px;
}

.restaurant-info {
  color: black;
  margin: 3px 0;
}
.pagination-buttons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.pagination-button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #fd6c01;
  border: 1px solid #fd6c01;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.pagination-button:hover {
  background-color: #b84f03;
}

.page-info {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.page-info h3 {
  margin: 0;
  padding: 0 5px;
}

.page-info span {
  padding: 0 3px;
}


.delete-button,
.modify-button {
  background-color: #fd6c01;
  color: white;
  margin: 0 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border: none;
  margin-top: 30px;
}

.delete-button {
  background-color: #e02720fb;
}

.modify-button:hover {
  background-color: #b84f03;
}

.delete-button:hover {
  background-color: #b40600;
}