.kilometers-container {
  display: flex;
  align-items: center;
}

.filters-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.city-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.filter-city {
  display: none;
}

.filter-city,
.filter-coordinates,
.filter-kilometers,
.filter-rating {
  padding: 10px;
  border: 1px solid #ff7f50;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.filter-rating {
  width: 100px;
}

.filter-city:focus,
.filter-coordinates:focus,
.filter-kilometers:focus,
.filter-rating:focus {
  border-color: #ff9a72;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.coordinates-kilometers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
}

.coordinates-container,
.kilometers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.filter-label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}


